.main {
    display: grid;
    place-items: center;
    height: 90vh;
  }
   
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: white;
    max-width: 350px;
  }
   
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
   
  img {
    width: 100%;
  }
   
  h1 {
    text-align: center;
  }
   
  button {
    padding: 15px 0;
    background: #FFE600;
    width: 100%
  }